*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h2{
  color: rgb(5, 6, 58);
  font-size: 25px;
  font-size: roboto;
  text-align: center;
  margin: 20px 0;
}

body{
  color: white;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

html {
  background-image: url('/src/img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* LOGO CONTENEDOR */

.logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-imagen{
  width: 60px;
}

/* LISTA DE TAREAS */

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: rgb(95, 218, 255);
  padding: 25px;
  margin: 25px;
  border-radius: 26px;
}